/* Self-hosted fonts for the Key↑ popup.
   Shipped inside the extension package so no network request is made
   when the popup is opened. Original files from Google Fonts under
   the SIL Open Font License. */

@font-face {
  font-family: 'Tektur';
  font-style: normal;
  font-weight: 500 900;
  font-display: swap;
  src: url('tektur-var.woff2') format('woff2');
}

@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('rajdhani-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('rajdhani-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('rajdhani-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('rajdhani-700.woff2') format('woff2');
}
